@font-face {
    font-family: "font";
    src: url(europe-underground-worn.worn.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #000;
    opacity: 1;
}
#grid{
    display: grid;
    grid-gap: 3px;
    height: 100vh;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows:0.3fr 1.5fr 1.5fr 0.5fr ;
    grid-template-areas: 
    "header header header header"
    "nav main main main"
    "nav column1 column2 column3"
    "footer footer footer footer"
}
#grid div{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    font-family: font;
}

.header{
    background: rgb(255,0,242);
background: linear-gradient(69deg, rgba(255,0,242,1) 12%, rgba(169,0,255,1) 88%);
    grid-area: header;
}
.nav{
    background: rgb(0,243,255);
background: linear-gradient(180deg, rgba(0,243,255,1) 18%, rgba(169,0,255,1) 84%);
    grid-area: nav;
    
    
}
.main{
    background: rgb(255,66,245);
background: radial-gradient(circle, rgba(255,66,245,1) 3%, rgba(0,255,254,1) 77%);
    grid-area: main;
}
.column1{
    background:#000;
    border-right: 1px solid white;
    grid-area: column1;
}
.column2{
    background: #000;
    border-right: 1px solid white;
    grid-area: column2;
}
.column3{
    background:  #000;
    grid-area: column3;
}
.footer{
    background: rgb(255,0,242);
background: linear-gradient(69deg, rgba(255,0,242,1) 12%, rgba(169,0,255,1) 88%);
    grid-area: footer;
}

@media only all and (max-width: 800px) {
    #grid{
        display: block;
        
        height: 100vh;
        
    /* .header{
        height: 120%;
    }
    .nav{
        height: 10vh;
    }
    .column1{
        background: purple;
        height: 20vh;
    }
    .column2{
        height: 20vh;
    }
    .column3{
        height: 20vh;
    }
    .footer{
        height: 10vh;
    } */
};