*{
    margin: 0;
    padding: 0;
    box-sizing:0;
    
}
img{
    width: 250px;
    height: 200px;
    border: 1px solid black;
    
}
#img1{
    position: absolute;
    top: 50px;
    left: 50px;
}
#img2{
    position: absolute;
    top: 50px;
    right: 50px;
}
#img3{
    position: absolute;
    bottom: 50px;
    left: 50px;
}
#img4{
    position: absolute;
    bottom: 50px;
    right: 50px;
}
#list{
    position: fixed;
    top: 300px;
    right: 100px;
    opacity: 0.8;
    background: #FFF;
    border: 2px solid black;
    list-style-position: inside;
    padding: 50px;
}